# Database URL - PostgreSQL connection string
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ludoearn?schema=public"

# JWT Secret for signing authentication tokens
JWT_SECRET="ludoearn_super_secret_jwt_key_2026_change_in_production"

# Cloudinary credentials for screenshot proof & avatar uploads
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# Admin Phone Numbers & MFS Receiver Numbers
NEXT_PUBLIC_BKASH_NUMBER="01342968557"
NEXT_PUBLIC_NAGAD_NUMBER="01342968557"
NEXT_PUBLIC_ROCKET_NUMBER="01342968557"
NEXT_PUBLIC_TELEGRAM_LINK="https://t.me/mr_rolex42"
NEXT_PUBLIC_TELEGRAM_USERNAME="@mr_rolex42"
NEXT_PUBLIC_WHATSAPP_NUMBER="01342968557"
NEXT_PUBLIC_SUPPORT_MOBILE="01321063123"
NEXT_PUBLIC_FACEBOOK_LINK="https://www.facebook.com/share/1Eco5f183E/"
NEXT_PUBLIC_SUPPORT_EMAIL="ya8913317@gmail.com"
NEXT_PUBLIC_APP_NAME="LudoEarn"
